@using Common.Models.Enums;
@using Common.Models.DTOs.Dictionary;
@model IEnumerable<UpdateStatusDTO>;

<table class="table">
    <thead>
        <tr>
            <th scope="col" class="col-3">Справочник</th>
            <th scope="col" class="col-4">Статус обновления</th>
            <th scope="col" class="col-5">Последнее обновление</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var status in Model){
            <tr>
                <th scope="row">@status.DictionaryType.ToRu()</th>
                <td>
                    @if(status.Comments is not null)
                    {
                        <div class="dropdown">
                            <a class="btn-toolbar" data-bs-toggle="dropdown" aria-expanded="true">
                                @status.Status.ToRu()
                            </a>
                            <p class="dropdown-menu text-wrap word-wrap-break update-status">
                                @status.Comments
                            </p>
                        </div>
                    }
                    else
                    {
                        @status.Status.ToRu()
                    }
                </td>
                <td>@(((DateTimeOffset)status.LastUpdate).ToLocalTime().ToString("dd.MM.yyyy HH:mm"))</td>
            </tr>
        }
    </tbody>
</table>
